{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--home">


	{% include "includes/header.twig" %}

	{% include "includes/hero.twig" %}


	<!-- Main Content -->
    <div class="container">
        <div class="main-content">

			

        </div>
    </div>

</section>

{% endblock %}
